<div id="to-do-list" fxLayout="column" fxFlex="1 1 100%">
  <div fxLayout="row" fxFlex="1 1 100%" class="header">
    <div class="text" fxLayout="column" fxFlex="1 1 25%">
      Task
    </div>
    <div class="text" fxLayout="column" fxFlex="1 1 65%">
      Description
    </div>
    <div class="text" fxLayout="column" fxFlex="1 1 10%">
      Completed
    </div>
  </div>
  <div *ngFor="let items of toDoItems" fxLayout="row" fxFlex="1 1 100%" class="to-do-item">
    <div class="text" fxLayout="column" fxFlex="1 1 25%">
      {{items?.title}}
    </div>
    <div class="text" fxLayout="column" fxFlex="1 1 65%">
      {{items?.description}}
    </div>
    <div class="text" fxLayout="column" fxFlex="1 1 10%">
      {{items?.isCompleted}}
    </div>
  </div>

</div>
