#to-do-list {
  .header {
    background: #673AB7;
    color: white;
    padding: 20px;

    .text {
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }

  .to-do-item {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid black;
  }

  .create-to-do-item-color {
    color: white;
    background: #9079B8;
  }
}
